.feed-size{
  width: 60%;
}

.card-feed{
  background-color: #2b3438;
  color: #f7f7f7;
  border-radius: 8px;
}

.padding-feed{
  padding: 0 0;
}

.user-info{
  align-self: flex-start;
}

.padding-border{
  padding: 0px;
  border-top: 1px solid #0ef6be;
}

.width-60{
  width: 60%;
}
