.chatroom {
  margin-top: 9px;
  padding-bottom: 40px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .chatroom_title {
    align-items: center;
  }

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    position: relative;
    color: #000000;
    font-weight: bold;
    height: 100%;
    min-height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 20px;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 0;

    .form-group {
      margin-bottom: 0;
    }
  }

  .input_field {
    box-sizing: border-box;
  }

  .chat_box {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.5)), url("https://res.cloudinary.com/juliocb01/image/upload/v1655306168/PuPu/Chat%20Wallpaper/gamer_doodle_new_2_fixed_borders_zybtko.jpg");
    background-repeat: repeat;
    background-size: contain, cover;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top-left-radius: 5px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
  }

  .chat_button {
    height: 38px;
  }
}
