.chatroom {
  margin-top: 9px;
  padding-bottom: 40px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    background-image: url("https://res.cloudinary.com/juliocb01/image/upload/v1655154469/iWallpapers_zsixte.png");
    background-repeat: repeat;
    background-size: contain, cover;
    background-color: #1e2528;
    color: #f7f7f7;
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
